body {
	margin: 0;
	text-align: center;
	color: #7f7f7f;
	background-color: #ffca9a;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 1em;
}

h2 {
	color: #ff9800;
}

a {
	color: #ff9800;
}

a:hover {
	color: #ce7a08;
}

#main {
	width: 70em;
	margin: 0px auto;
	padding: 0;
	background-color: #ffffff;
	border-bottom: solid 1px #b7b7b7;
	border-left: solid 1px #b7b7b7;
	border-right: solid 1px #b7b7b7;
	text-align: left;
}

#menu {
	padding: 0.5em;
	overflow:  hidden;
	text-align: right;
}

#menu ul {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: large;
}

#menu ul li
{
	float: left;
	margin-right: 0.5em;
}

.nav {
	padding-left: 0.5em;
	border-left: 1px solid #767b7e;
}

#menu ul a {
	text-decoration: none;
}

#header {
	clear: both;
	overflow: hidden;
	padding: 0.5;
	background-color: #9a1123;
}

#logo {
	float: left;
	width: 20%;
	padding: 1em 5em;
}

#description {
	float: right;
	width: 60%;
	color: #ffffff;
	padding: 3em 0em;
}

#content {
	padding: 10px;
	overflow: hidden;
}

#glance {
	float: left;
	width: 33%;
}

#examples {
	float: left;
	width: 33%;
}

#applications {
	float: right;
	width: 33%;
}

#footer {
	color: #9a1123;
	padding: 10px;
	text-align: center;
	font-style: italic;
	font-size: x-small;
}

#applications ul {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 1em;	
}

#applications ul li {
	display: block;
	text-align: center;
	border: 2px solid #d18335;
	padding-bottom: 1em;
	margin: 0.5em;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #ffca9a;
}

.title {
	font-size: x-large;
	font-weight: bold;
}

.subtitle {
	font-size: larger;
	font-style: italic;
}

.gallery ul {
	overflow: hidden;
	list-style: none;
	margin: 1em 6em;
	padding: 0;
}

.gallery ul li {
	width: 15em;
	display: block;
	float: left;
	border: 1px solid #EEE;
	margin: 0.3em;
	padding: 0.4em;
}

.gallery ul li img {
	margin: 1em 3em;
}

.example-title {
	height: 3em;
	text-align: center;
}

.app-title {
	padding: 0.5em 0em;
	color: #9a1123;
}